<section class="partners">
  <div class="container">
    <h2 class="title title--center partners__title">Supported by 12+ partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/logo-1.svg" alt="inDepht logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/logo-2.svg" alt="Higher logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/logo-3.svg" alt="Sentinal logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/logo-4.svg" alt="Happy home logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/logo-5.svg" alt="Sale logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/logo-6.svg" alt="Sunset logo" class="partners__logo">
        </a>
      </li>
    </ul>
  </div>
</section>